/* body {
    background-color: #010002;
} */
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px 0px 0px;
  margin: 100px auto 100px auto;
  width: 90%;
  /* margin: 0 auto; */
  background-color: rgba(0, 0, 0, 0.575);
}

@media (min-width: 280px) {
  .header__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0px 0px 0px;
    margin: 100px auto 100px auto;
    width: 90%;
  }
}

@media (min-width: 992px) {
  .header__conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0px 0px 0px;
    margin: 100px auto 100px auto;
    width: 90%;
  }
}

.header__conteiner h1 {
  color: #ee5c55;
}

@media (min-width: 280px) {
  .header__conteiner h1 {
    font-size: 30pt;
  }
}

@media (min-width: 992px) {
  .header__conteiner h1 {
    font-size: 40pt;
  }
}

.header__conteiner p {
  font-size: 12pt;
}

@media (min-width: 280px) {
  .header__conteiner p {
    padding-bottom: 50px;
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .header__conteiner p {
    padding-bottom: 0px;
  }
}

.header__button {
  /* padding: 0px 100px 0px 0px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__button h1 {
  color: #ee5c55;
}

@media (min-width: 280px) {
  .header__button h1 {
    font-size: 20pt;
  }
}

@media (min-width: 992px) {
  .header__button h1 {
    font-size: 40pt;
  }
}

.header__button p {
  font-size: 12pt;
}

.home__page button {
  border-radius: 7px;
  color: #fff;
  border: 5px solid #4051b5;
  background-color: transparent;
  font-weight: 900;
  cursor: pointer;
  font-size: 15pt;
  outline: none;
}

@media (min-width: 280px) {
  .home__page button {
    padding: 20px 30px;
    margin: 50px 20px 50px 20px;
  }
}

@media (min-width: 992px) {
  .home__page button {
    padding: 20px 50px;
    margin: 100px 0px 50px 0px;
  }
}

.home__page button:hover {
  color: #ffffff;
  border: 5px solid #4051b5;
  background-color: #4051b5;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.advice__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 100px 0px 100px 0px;
}

.advice__blocks div {
  background-color: #4051b5;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 60%;
  margin: 30px auto 30px auto;
}

@media (min-width: 280px) {
  .advice__blocks div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 90%;
    margin: 30px auto 30px auto;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .advice__blocks div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 60%;
    margin: 30px auto 30px auto;
  }
}

.advice__blocks div:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #5c6abb;
}

.advice__blocks div:hover .hdr__descrpt {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #5c6abb;
}

.advice__blocks div .galochka__hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advice__blocks div .galochka__hdr h2 {
  font-size: 20pt;
  color: #fff;
  padding-top: 50px;
}

.advice__blocks div p {
  color: #fff;
}

@media (min-width: 280px) {
  .advice__blocks div p {
    padding: 20px;
    font-size: 15pt;
  }
}

@media (min-width: 992px) {
  .advice__blocks div p {
    padding: 50px 0px 50px 0px;
    font-size: 13pt;
  }
}

@media (min-width: 992px) {
  .advice__blocks div .galochka {
    padding-left: 50px;
  }
}

.advice__blocks div .hdr__descrpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  color: #fff;
}

.advice__blocks div .hdr__descrpt h2 {
  font-size: 20pt;
  color: #ffd2d0;
}

.last__block {
  width: 100%;
}

.last__block button {
  color: #000;
  margin: 13%;
}

.last__block button:hover {
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*# sourceMappingURL=home.module.css.map */