/* body {
    background-color: #010002;
} */

.header__conteiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    margin: 100px auto 100px auto;
    width: 90%;
    /* margin: 0 auto; */
    background-color: rgba(0, 0, 0, 0.575);
}

.header__button {
    /* padding: 0px 100px 0px 0px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    
    h1 {
        color: #ee5c55;
        font-size: 40pt;
    }

    p {
        font-size: 12pt;
    }
}

button {
    margin: 100px 0px 0px 0px;
    padding: 20px 50px;
    border-radius: 7px;
    color: #fff;
    border: 5px solid #4051b5;
    background-color: transparent;
    font-weight: 900;
    cursor: pointer;
    font-size: 15pt;
    outline: none;

    &:hover {
        color: #ffffff;
        border: 5px solid #4051b5;
        background-color: #4051b5;
        transition: all .5s ease-in-out;
    }
}

.advice__blocks {
    display: flex;
    flex-flow: column nowrap;
    padding: 100px 0px 100px 0px;

    div {
        background-color: #4051b5;
        border-radius: 6px;
        display: flex;
        flex-flow: row nowrap;
        width: 60%;
        margin: 30px auto 30px auto;
        &:hover {
            transition: all .5s ease-in-out;
            background-color: #5c6abb;
            .hdr__descrpt {
                transition: all .5s ease-in-out;
                background-color: #5c6abb;
            }
        }

        .galochka {
            padding-left: 50px;
        }

        .hdr__descrpt {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            text-align: start;
            color: #fff;
            h2 {
                font-size: 20pt;
                color: #ffd2d0;
            }
            p {
                font-size: 13pt;
            }
        }
    }
}

.last__block {
    height: 500px;
    width: 100%;

    button {
        color: #000;
        margin-top: 13%;
        &:hover {
            color: #fff;
            transition: all .5s ease-in-out;
        }
    }
}